<%- include("../../views/partials/user/headerforget") %>
    <section class="ftco-section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="wrap d-md-flex">


                    <div class="login-wrap p-4 p-md-5"
                        style="background-image: url(assets/images/forgetPass2.png); background-size: cover; background-position: center;">
                            <h3 class="mb-3" style="font-weight: 600; padding-bottom: 24px;">Forget Password ?</h3>

                            <!-- <% if (messages.error) { %>
    <div style="color: red;">
        <%= messages.error %>
    </div>
    <% } %> -->

                            <form method="post" action="/forget-email-valid" class="signup-form" id="signform"
                            onsubmit="return validateLoginForm()">
                                <div class="row">
                                   
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="email">Don’t worry ! It happens. Please enter the phone number or email we will send the OTP in this phone number or email.</label>
                                            <input type="email" class="form-control" name="email"
                                                value="" id="email"
                                                placeholder="Enter the email">
                                            <div id="error2" class="error-message"></div>
                                        </div>
                                    </div>
                                   

                                    <div class="col-md-12 text-center">
                                        <div class="form-group ">
                                            <button type="submit" class="btn btn-secondary submit ">Continue</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
            
                            <div class="w-100 text-center">
                                <p class="mt-4">I'm already a member! <a href="/login">Sign In</a></p>
                            </div>
                        </div>
                        <div class="text-wrap p-4 p-lg-5 d-flex img d-flex align-items-end"
                            style="background-image: url(assets/images/forget.webp);">
                            <div class="text w-100">
                                <h2 class="mb-4">Welcome to signup form</h2>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia,
                                    there live the blind texts.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("../../views/partials/user/footer") %>
        <script>
    function validateLoginForm() {
        const emailInput = document.getElementById('email');
        const emailError = document.getElementById('error2');
      const emailValue = emailid.value.toLowerCase().trim();
        const emailpattern = /^[a-zA-Z0-9._-]+@(gmail\.com|yahoo\.com|icloud\.com|outlook\.com)$/;


        if (emailValue === '') {
            emailError.textContent = 'Please enter your email.';
            emailInput.classList.add('is-invalid');
            return false;
        } else if (!emailValue.match(emailPattern)) {
            emailError.textContent = 'Please enter a valid email address.';
            emailInput.classList.add('is-invalid');
            return false;
        } else {
            emailError.textContent = '';
            emailInput.classList.remove('is-invalid');
            return true;
        }
    }




         
           
          
     
        
       
            


          



        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>