<%- include("../../views/partials/user/headernewpassword") %>
    <section class="ftco-section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 d-flex img d-flex align-items-end"
                            style="background-image: url(assets/images/newpassword.webp);">
                            <div class="text w-100">
                                <h2 class="mb-4">Welcome to signup form</h2>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia,
                                    there live the blind texts.</p>
                            </div>
                        </div>


                        <div class="login-wrap p-4 p-md-5"
                            style="background-image: url(assets/images/newpassDesign.png); background-size: cover; background-position: center; background-repeat: no-repeat; height: 612px;">
                            <h3 class="mb-3" style="font-weight: 600; padding-bottom:40px; margin-top:30px;">New Password</h3>

                            <!-- <% if (messages.error) { %>
                                <div style="color: red;">
                                    <%= messages.error %>
                                </div>
                                <% } %> -->

                                    <form method="post" action="/reset-password" class="signup-form" id="signform" onsubmit="return passValidationChecking()">
                                        <div class="row">
                                            
                                        
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="password">New Password</label>
                                                    <input type="password" id="password" class="form-control"
                                                        name="password" placeholder="New Password">
                                                    <div id="error4" class="error-message"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="confirm-password">Confirm Password</label>
                                                    <input type="password" class="form-control" name="cPassword"
                                                        id="confirm-password" placeholder="Confirm Password">
                                                    <div id="error5" class="error-message"></div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 text-center">
                                                <div class="form-group ">
                                                    <button type="submit" class="btn btn-secondary submit ">Continue</button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                   
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("../../views/partials/user/footer") %>
        <script>
            function passValidationChecking() {
              
                const passid = document.getElementById("password")
                const cpassid = document.getElementById("confirm-password")
                 const error4 = document.getElementById("error4")
                const error5 = document.getElementById("error5")

                const passValue = passid.value.trim()
                const cpassValue = cpassid.value.trim()
                const passpattern =
                    /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
                if (passValue === "" || cpassValue === "") {
                    error4.style.display = "block";
                    error4.innerHTML = "Please enter a password";

                    error5.style.display = "block";
                    error5.innerHTML = "Please confirm your password";
                    passValid = false;
                } else if (!passpattern.test(passValue)) {
                    error4.style.display = "block";
                    error4.innerHTML = "Please read the given hint for password";
                    passValid = false;
                } else if (passValue !== cpassValue) {
                    error5.style.display = "block";
                    error5.innerHTML = "Passwords do not match";
                    passValid = false;
                } else {
                    error4.style.display = "none";
                    error4.innerHTML = "";

                    error5.style.display = "none";
                    error5.innerHTML = "";
                    passValid = true;
                }

            }






        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>